body {
  background-image:url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100vh;
  opacity: .9;

}
.jumbotron {
  text-align: center;
  background-color:#00438F;
  color: #ffffff;
  letter-spacing: 7px;
}

#teamCaps .well {
  background-color: #9CCB6B;
}

img {
  width: 200px;
  margin-left: 25px;
}

img:hover {
  cursor: pointer;
}

h3 {
  text-align: center;
}
h4 {
  text-align: center;
}

.bio {
  display: none;
}

.playerSelected, .playersAvailable {
 display: none;
}
